body {
	margin-top:	3px;
	margin-bottom: 3px; 
	margin-left: 3px; 
	margin-right: 3px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.system_message {
	color: blue;
	font-weight: bold;
}

.operator_message {
	color: green;
	font-weight: bold;
}

.self_message {
	color: grey;
	font-weight: bold;
}